<%-include("includes/headers.ejs")%>
<link rel="stylesheet" type="text/css" href="/css/cart.css">
</head>
<body>
    <%-include("includes/navbar.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- <% for(let i = 0; i<blogs.length; i++){ %>
        <div class="card" style="margin: 40px 200px 60px 200px;">
            <img src="<%= blogs[i].FileDestination %>" class="card-img-top" style="
            height: 300px;" alt="...">
            <div class="card-body">
              <h5 class="card-title "><%= blogs[i].title %></h5>
              <p class="card-text"><%= blogs[i].description %></p>
              <a href="/blogs/<%=blogs[i]._id%>" class="btn btn-primary">Read.......</a>
            </div>
          </div>          
        <% } %> -->
        <h1>welcome to home page</h1>
    <%-include("includes/end.ejs")%>
